body {
  padding: 20px;
}

h1 {
  color: hotpink;
  font-family: 'Times New Roman';
}

h2 {
  color: plum;
}

img {
  width: 300px;
  height: 200px;
}

.dark1 {
  background-color:black;
  color: aliceblue;
}

.light1 {
  background-color: whitesmoke;
  color: black;
}